<aside class="fixed top-0 left-0 h-screen w-64 bg-white border-r border-gray-200 px-6 py-8 hidden md:block shadow-soft z-50">
    <h1 class="text-2l font-bold mb-10 flex items-center gap-2">
      <i data-lucide="book-open" class="w-6 h-6"></i>
      Bupia Sociology Learning
    </h1>
    <nav class="space-y-2">
      <button onclick="handleTabClick('soal')" class="w-full flex items-center gap-2 text-left py-2 px-4 rounded-xl hover:bg-gray-100 transition font-medium" id="nav-soal">
        <i data-lucide="file-text" class="w-5 h-5"></i> Soal
      </button>
      <button onclick="handleTabClick('hasil')" class="w-full flex items-center gap-2 text-left py-2 px-4 rounded-xl hover:bg-gray-100 transition font-medium" id="nav-hasil">
        <i data-lucide="bar-chart" class="w-5 h-5"></i> Hasil Ujian
      </button>
      <button onclick="handleTabClick('monitoring')" class="w-full flex items-center gap-2 text-left py-2 px-4 rounded-xl hover:bg-gray-100 transition font-medium" id="nav-monitoring">
        <i data-lucide="activity" class="w-5 h-5"></i> Monitoring
      </button>
      <button onclick="handleTabClick('pengaturan')" class="w-full flex items-center gap-2 text-left py-2 px-4 rounded-xl hover:bg-gray-100 transition font-medium" id="nav-pengaturan">
      <i data-lucide="settings" class="w-5 h-5"></i> Pengaturan
     </button>
    </nav>
</aside>